{%- assign time_start = include.start -%}

{%- assign order = 0 -%}
{%- assign nwhens = "" | split: "" -%}
{%- assign whens = "" | split: "" -%}
{%- assign all_whens = "" | split: "" -%}
{%- if event.when.first -%}
  {%- assign all_whens = event.when -%}
{%- else -%}
  {%- assign all_whens = event.when|split:',' -%}
{%- endif -%}

{%- for when in all_whens -%}
  {%- assign nwhen = when | date: "%s" | plus: 0 -%}
  {%- if nwhen >= time_start -%}
    {%- assign whens = whens | push: when -%}
  {%- endif -%}
  {%- assign nwhens = nwhens | push: nwhen -%}
{%- endfor -%}

{%- for when in whens -%}
  {%- assign date = when | date: "%s" | plus: 0 -%}
  {%- if date >= time_start and (order == 0 or date < order) -%}
    {%- assign order = date -%}
  {%- endif -%}
{%- endfor -%}

{%- if event.featured -%}
  {%- assign order = order | times: 0.01 -%}
{%- endif -%}

<tr data-dates="{% for when in whens %}{{ when | date: "%s" }} {% endfor %}" data-order="{{ order }}" data-hashable="{{ event.name|xml_escape }} {{ event.url|xml_escape }}" class="listing">
  {% if include.showcal %}
  <td>
    <div class="calendar">
      {%- for num in (0...6) -%}
      {%- assign seconds_after = num | times: 86400 -%}
      {%- assign thisday = time_start | plus: seconds_after -%}
      {%- assign nextday = thisday | plus: 86400 -%}
      <div class="calendar-day {% for nwhen in nwhens -%}
        {%- if (nwhen >= thisday) and (nwhen < nextday -%}included {% endif -%}
      {%- endfor -%}" date-date-marker="{{ thisday }}">{{ thisday | date: "%a" | truncate: 1, ''}}</div>
      {%- endfor -%}
    </div>
  </td>
  {% else %}
  <td class="dates">
    {%- assign num_events = whens | size -%}
    {%- if num_events == 1 -%}
      {{ whens.first | date: "%b %-d" }}
    {%- else -%}
      {{ whens.first | date: "%b %-d" }}-{{ whens.last | date: "%b %-d"}}
    {%- endif -%}
  </td>
  {% endif %}
  <td class="price">
    {%- if event.price == 'free' or event.price == 'FREE' -%}
      <span class="free"></span>
    {%- elsif event.price == 'vendors' -%}
      <span class="vendors">V</span>
    {%- elsif event.price -%}
      <span class="cost">$</span>
    {%- else -%}
      <span class="unknown">?</span>
    {%- endif -%}
  </td>
  <td class="name">
    <a href="{{event.url}}" target="_blank">{{ event.name }}</a>
  </td>
  <td class="location">
    {{ event.location }}
  </td>
  <td class="tags">
    {%- if event.tags -%}
      {%- assign tags = event.tags -%}
      {%- if tags.first -%}
      {%- else -%}
        {%- assign tags = tags | split: ',' -%}
      {%- endif -%}
      {{ tags | sort | join: ', ' }}
    {%- endif -%}
  </td>
</tr>
<!-- 
  <div class="prefix"></div>
  <div class="body">
    <div class="first-line"><a href="{{event.url}}" target="_blank">{{ event.name }}</a></div>
    <div class="second-line">
      {%- if include.showcal -%}
      <span class="segment" data-name="calendar">
        <div class="calendar">
          {%- for num in (0...6) -%}
          {%- assign seconds_after = num | times: 86400 -%}
          {%- assign thisday = time_start | plus: seconds_after -%}
          {%- assign nextday = thisday | plus: 86400 -%}
          <div class="{%- for nwhen in nwhens -%}
            {%- if (nwhen >= thisday) and (nwhen < nextday -%}included {% endif -%}
          {%- endfor -%}" date-date-marker="{{ thisday }}">{{ thisday | date: "%a" | truncate: 1, ''}}</div>
          {%- endfor -%}
        </div>
      </span>
      {%- endif -%}
      <span class="segment" data-name="price">
      {%- if event.price == 'free' or event.price == 'FREE' -%}
        FREE
      {%- elsif event.price == 'vendors' -%}
        FREE + Vendors
      {%- elsif event.price -%}
        {%- if event.price.first -%}
          ${{ event.price.first }}-{{ event.price.last }}
        {%- elsif event.price contains "" -%}
          {{ event.price }}
        {%- elsif event.price == true -%}
          $
        {%- else -%}
          ${{ event.price }}
        {%- endif -%}
      {%- else -%}
        $?
      {%- endif -%}
      </span><span class="segment" data-name="location">{{ event.location }}</span>
      
      {%- if event.minage -%}
        <span class="segment" data-name="minage">ages {{ event.minage }}+</span>
      {%- endif -%}

      <span class="segment" data-name="when">
      {%- assign num_events = whens | size -%}
      {%- if num_events == 1 -%}
        {{ whens.first | date: "%b %-d" }}
      {%- elsif num_events == 2 -%}
        {{ whens.first | date: "%b %-d" }} and {{ whens.last | date: "%b %-d" }}
      {%- else -%}
        {{ num_events }} times {{ whens.first | date: "%b %-d" }}-{{ whens.last | date: "%b %-d"}}
      {%- endif -%}
      </span>

      {%- if event.partof -%}
        <span class="segment" data-name="partof">{{ event.partof }}</span>
      {%- endif -%}

      {%- if event.tags -%}
        {%- assign tags = event.tags -%}
        {%- if tags.first -%}
        {%- else -%}
          {%- assign tags = tags | split: ',' -%}
        {%- endif -%}
        <span class="segment tags" data-name="tags">{{ tags | sort | join: ', ' }}</span>
      {%- endif -%}
    </div>
  </div>
</div> -->