
<script>
// Favoriting code
let votes = JSON.parse(localStorage.getItem('votes') || '{}');

function saveVotes() {
  localStorage.setItem('votes', JSON.stringify(votes));
}
document.querySelectorAll('.listing').forEach(listing => {
  let vote = listing.querySelector('.vote');
  const hash = sha1(listing.getAttribute('data-hashable')).substr(0, 8);
  // add hash
  listing.setAttribute('data-hash', hash);

  // initial state
  listing.classList.add(`vote-${votes[hash]}`);
  
  vote.addEventListener('click', ev => {
    if (votes[hash] === 'fave') {
      votes[hash] = 'no';
    } else if (votes[hash] === 'no') {
      delete votes[hash];
    } else {
      votes[hash] = 'fave';
    }

    document.querySelectorAll(`[data-hash="${hash}"]`).forEach(item => {
      item.classList.remove('vote-fave');
      item.classList.remove('vote-no');
      item.classList.remove('vote-undefined');
      item.classList.add(`vote-${votes[hash]}`);
    });
    saveVotes();
  })
})
</script>

<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>