<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            </li>
            
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSeNumgYsAbknX4dhEWg9jLnD_2MGjO8EIEYab1fGCmVhoMjhQ/viewform?usp=sf_link">Submit an event</a></li>
            {%- if site.email -%}
            <li><a href="mailto:haggardii+uv@gmail.com">Report an error</a></li>
            {%- endif -%}
        </ul>
      </div>

      <!-- <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div> -->

      <div class="footer-col footer-col-5">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
