---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {% assign start = "2018-05-14" | date: "%s" | plus: 0 %}
  {% assign end = start | plus: 1209600 %}

  <p>
    Here's some fun things happening in Utah Valley {{ start | date: "%b %-d" }} - {{ end | date: "%b %-d, %Y" }}.  <a href="https://docs.google.com/forms/d/e/1FAIpQLSeNumgYsAbknX4dhEWg9jLnD_2MGjO8EIEYab1fGCmVhoMjhQ/viewform?usp=sf_link">Submit an event.</a>
  </p>

  <p>
    This listings may not be accurate&mdash;always click through for more details.
  </p>

  <h2>Events</h2>
  <ol>
  {% assign sorted_events = site.data.events | sort: 'name' %}
  {% for event in sorted_events %}
    {% assign show = false %}
    {% for when in event.when %}
      {% assign ts = when | date: "%s" | plus: 0 %}
      {% if ts >= start and ts <= end %}
        {% assign show = true %}
      {% endif %}
    {% endfor %}
    
    {%- if show %}
      <li class="listing" data-dates="{{ event.when | join: ' ' }}">
        {% if event.url %}
          <a href="{{ event.url }}" target="_blank">{{ event.name }}</a>
        {% else %}
          {{ event.name }}
        {% endif %}
        <div class="second-line">
          {% if event.price == 'free' %}
            FREE
          {% elsif event.price %}
            {% if event.price.first %}
            ${{ event.price.first }}-{{ event.price.last }}
            {% else %}
            ${{ event.price }}
            {% endif %}
          {% endif %}

          {% if event.minage %}
            &bull;
            ages {{ event.minage }}+
          {% endif %}

          &bull;
          {% assign num_events = event.when | size %}
          {% if num_events == 1 %}
            <span class="date">{{ event.when.first | date: "%a, %b %-d" }}</span>
          {% elsif num_events == 2 %}
            <span class="date">{{ event.when.first | date: "%a, %b %-d" }} and {{ event.when.last | date: "%a, %b %-d" }}</span>
          {% else %}
            <span class="date">{{ num_events }} times {{ event.when.first | date: "%a, %b %-d" }}&mdash;{{ event.when.last | date: "%a, %b %-d"}}</span>
          {% endif %}

          {% if event.tags %}
            &bull;
            <span class="tags">{{ event.tags | sort | join: ', ' }}</span>
          {% endif %}
        </div>
      </li>
    {% endif %}
  {% endfor %}
  </ol>

  <h2>Ongoing Events</h2>
  <ol>
  {% assign sorted_events = site.data.ongoing | sort: 'name' %}
  {% for event in sorted_events %}
    <li class="listing">
      {% if event.url %}
        <a href="{{ event.url }}" target="_blank">{{ event.name }}</a>
      {% else %}
        {{ event.name }}
      {% endif %}
      <div class="second-line">
        {% if event.price == 'free' %}
          FREE
        {% elsif event.price %}
          {% if event.price.first %}
          ${{ event.price.first }}-{{ event.price.last }}
          {% else %}
          ${{ event.price }}
          {% endif %}
        {% endif %}

        {% if event.minage %}
          &bull;
          ages {{ event.minage }}+
        {% endif %}

        &bull;
        <span class="when">{{ event.when }}</span>
        

        {% if event.tags %}
          &bull;
          <span class="tags">{{ event.tags | sort | join: ', ' }}</span>
        {% endif %}
      </div>
    </li>
  {% endfor %}
  </ol>
</div>
